# Tutorial 1
- Pengenalan Python
- Eksplorasi Data 
- Praproses Data

## **Pengenalan Python**
Python merupakan bahasa pemrogramman tingkat tinggi yang mudah digunakan. Kemudahan ini membuat python menjadi bahasa pemrogramman yang sangat populer saat ini. Python banyak diterapkan dalam pembuatan web, aplikasi dan keperluan lainnya. Hal yang paling sering menjadi alasan untuk menggunakan Python ini adalah kemudahannya digunakan dalam dunia Data Science.

### Mengenal Library Python
* NumPy 

Library Numpy merupakan Library yang sering digunakan dalam mengolah data array dan pengolahannya secara matematis. Di Python sendiri tidak mendukung pengolahan array, namun ada tipe data list namun penggunaannya tidak sefleksibel dan semudah array dari Numpy 
* Pandas

Pandas merupakan library yang digunakan dalam pengolahan DataFrame. DataFrame umumnya seperti tabel yang berisi kolom dan baris. Sehingga Pandas ini cocok digunakan dalam menganalisa data yang berupa tabel. Pandas juga sering digunakan dalam melakukan praproses data seperti penanganan data hilang, pembanding data, menggabungkan data, merubah bentuk data dsb.
* Matplotlib & Seaborn

Library ini digunakan untuk melakukan visualisasi data. Visualisasi ini bisa berupa histogram, scatter plot dan sebagainya sesuai kebutuhan. Perbedaan Matplotlib dan Seaborn adalah di mana Seaborn dibangun di atas Matplotlib.

* Scikit-Learn (sklearn)

Library ini digunakan untuk melakukan proses Machine Learning pada Python. Fungsi-fungsi di dalamnya cukup lengkap baik untuk Klasifikasi, Klasterisasi dan Regresi. Seaborn juga memiliki sejumlah dataset sederhana yang bisa digunakan pada library-nya

* Keras, TensorFlow, PyTorch

Library-library ini berfokus pada Deep Learning (subset dari Machine Learning). Ketiganya biasa digunakan dalam menerapkan metode Neural Network.

### Ngoding Python dimana?
*   Online

Google Colaboratory, Kaggle

*   Offline

Spyder, PyCharm, Jupyter Notebook

---

**some useful shortcuts in Google Colab:**

* Ctrl + / for block-comments line(s) of code
* Ctrl + \[ or Ctrl + \] for changing the indentation
* Ctrl + S for saving your file

### Tipe-tipe Data di Python

*   String
*   Integer
*   Float (decimal)
*   Complex (imaginary number)
*   Boolean
*   NoneType

In [ ]:
# None
a = None
print(a)

In [ ]:
# Numeric
i = 1 #integer 
f = 1.0 #float
c = 2+1j #complex

print('i:', i, type(i))
print('f:', f, type(f))
print('c:', c, type(c))

In [ ]:
# Ubah tipe data
u = 7.7

a1 = float(u) #ubah tipe data menjadi float
b1 = int(u) #ubah tipe data menjadi int (jika float diubah ke int maka dibulatkan ke bawah)
c1 = complex(u) #ubah tipe data menjadi complex

print(a1)
print(b1)
print(c1)

In [ ]:
# Boolean
t = True
f = False
t_int = int(t)
f_int = int(f)

print('t:',t, type(t))
print('f:',f, type(f))
print('True =', t_int)
print('False =', f_int)
print('t and f:', (t & f))
print('t or f:', (t | f))
print()

#operasi komparasi
k1 = (1 < 2)
k2 = (2 > 1)
k3 = (2 <= 3)
k4 = (4 >= 3)
k5 = (2 == 2)
k6 = (3 != 4)
k7 = (4 > 5) and (6 > 7) #and
k8 = (4 > 5) or (6 > 7) #or
k9 = not True #not, hasilnya false

print('(1 < 2) =', k1, type(k1))
print('(2 > 1) =', k2)
print('(2 <= 3) =', k3)
print('(4 >= 3) =', k4)
print('(2 == 2) =', k5)
print('(3 != 4) =', k6)
print('(4 > 5) and (6 > 7) =', k7)
print('(4 > 5) or (6 > 7) =', k8)
print('not True =', k9)

In [ ]:
# String
s = "hello"
t = 'world'
u = "what's up"

print(u)
print(s+' '+t)

In [ ]:
w1 = "hi {} !".format(t)
w2 = f"Hi {t} !"
w3 = "Hi %s !" % t # 's' in '%s' stands for 'string data type'
w4 = "Decimal number: {:.2f}".format(2.50000) # :.2f means we only want the number with 2 decimals

print(w1)
print(w2)
print(w3)
print(w4)

In [ ]:
# Ubah tipe data

nilai = "1.0"
print(nilai, type(nilai))
# print(int(nilai)) # will result in error
# print(int(float(nilai))) #kalau string berupa desimal maka harus diubah dulu menjadi float baru kemudian diubah ke integer

a = 1
a = str(a)
print(a, type(a))

## **Import Libraries**

In [ ]:
# Import Library Python
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.set_option('display.max_columns',None) # to see ALL COLUMNS in a DataFrame table. 'None' means there is no limit for displayed columns.
# pd.set_option('display.max_rows',None) # to see ALL ROWS in a DataFrame table.

## **Import dataset**

#### Import via upload file (in Google Colab)

In [ ]:
# Upload dataset berupa csv
# from google.colab import files
# uploaded = files.upload() # or you could just click on the "Upload Files" button

In [ ]:
# set variabel dataset
# import io
# iris = pd.read_csv(io.BytesIO(uploaded['iris_dataset.csv'])) # this method takes longer time
iris = pd.read_csv('iris_dataset.csv')
iris

In [ ]:
# memberikan header pada dataset (kalau dataset belum memiliki header)


# rename columns at the same time 'when' importing dataset
colnames = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
data_iris = pd.read_csv('iris_dataset.csv', names = colnames)


# rename columns 'after' importing dataset
data_iris = pd.read_csv('iris_dataset.csv')
data_iris.columns = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']


# rename SPECIFIC COLUMN(S) only
data_iris.rename(columns={'sepal-length':'sepal-length', 'sepal-width':'sepal-width'}, inplace=True) # "inplace=True" means:
                                                                                                     # you don't need to assign it to a variable
                                                                                                     # it directly changes its DataFrame
# data_iris = data_iris.rename(columns={'sepal-length':'sepal-length', 'sepal-width':'sepal-width'})

data_iris

#### Import dengan menghubungkan/mount ke Google Drive (in Google Colab)

(click on **Mount Drive** button and <u>Accept</u> Google Colab permission to access your GDrive)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
path = "/content/drive/MyDrive/Penggalian Data [Tutorial]/" # > COPY PATH from your project FOLDER on GDrive & add '/' in the end 
                                                                      # > save this PATH Variable, in case we need to import another file from this Folder

iris = pd.read_csv(path + "Iris.csv")
iris

In [ ]:
# drop column 'id'
data_iris = iris.drop(columns= "Id")

# rename column name
data_iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
data_iris

#### Import pre-loaded dataset via library

In [ ]:
# dataset yang memang dimiliki library Seaborn (pre-loaded dataset)
data_iris = sns.load_dataset("iris")
titanic = sns.load_dataset("titanic")

In [ ]:
data_iris

In [ ]:
titanic

#### Import data apabila Menggunakan Jupyter Notebook

In [ ]:
iris = pd.read_csv("Iris.csv")
iris

In [ ]:
# drop column 'id'
data_iris = iris.drop(columns= "Id")

# rename column name
data_iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
data_iris

## **Eksplorasi Data**

### Summary Statistics


> Melihat seluruh isi dataset

In [ ]:
# untuk melihat isi dataset
data_iris



> Melihat sebagian isi dataset

In [ ]:
data_iris.head() # default: FIRST 5 ROWS in DataFrame
# data_iris.head(10) # see FIRST 10 ROWS

In [ ]:
data_iris.tail() # default: LAST 5 ROWS in DataFrame
# data_iris.tail(10) # see LAST 10 ROWS

> Melihat tipe data dan Non-Null count dari masing-masing kolom

In [ ]:
data_iris.info()



> Analisa statistik

In [ ]:
# menampilkan mean, standar deviasi, min, kuartil (25%, 50%, 75%) dan max (pandas)
data_iris.describe()
# data_iris.describe(include='all') # statistical description of ALL COLUMNS, both NUMERIC/STRING datatype

In [ ]:
# menampilkan nilai unik (distinct values) di suatu kolom, biasanya digunakan untuk melihat nilai kategorikal
data_iris['species'].unique()

In [ ]:
# menampilkan Counts dari tiap nilai unik di suatu kolom
data_iris['species'].value_counts()

In [ ]:
# menampilkan rata-rata tiap kolom
data_iris.mean()

In [ ]:
# menampilkan rata-rata suatu kolom
data_iris['sepal_length'].mean()

In [ ]:
# menampilkan nilai modus
data_iris.mode()

In [ ]:
data_iris.min()

In [ ]:
#menampilkan max
data_iris.max()

In [ ]:
#menampilkan percentile (numpy)
data_iris.quantile(0.25) #percentile ke-25

In [ ]:
#menampilkan percentile (numpy)
data_iris.quantile(0.5) #median atau percentile ke-50

In [ ]:
#menampilkan median
data_iris.median()

In [ ]:
#menampilkan standar deviasi (numpy)
data_iris.std()

In [ ]:
#menampilkan range
min = data_iris["petal_length"].min()
max = data_iris["petal_length"].max()
range = max - min
print("range :", range)

### Visualisasi

Visualisasi data ditujukan untuk mengetahui, antara lain:
* **distribusi/sebaran data** (e.g. skewness, outlier)
* **korelasi antar kolom** (*good* when there is a *strong corr. between features & target*; while <u>strong corr. *between 2 features* means that those are redundant features, hence just choose one from it</u>)
* **class separability** yaitu seberapa jauh jarak data antarkelas. semakin jauh jarak antarkelas, maka semakin mudah dibedakan sehingga kemungkinan model ML akan semakin mudah untuk mengklasifikasikannya  \[khusus pada problem klasifikasi]

#### Analisa Univariat

In [ ]:
# menampilkan histogram
data_iris.hist()
plt.show()

In [ ]:
titanic['survived'].hist()

In [ ]:
# menampilkan histogram custom
plt.figure(figsize = (10, 10))
x = data_iris["sepal_width"]
plt.hist(x, color = "red")
plt.title("Sepal Width")
plt.xlabel("Sepal Width (cm)")
plt.ylabel("Count")

In [ ]:
# Box Plot
data_iris['sepal_width'].plot(kind = "box")
plt.show()

In [ ]:
# Scatter Plot
plt.scatter(data_iris.index, data_iris["sepal_length"])
plt.show()

In [ ]:
# Scatter Plot
sns.scatterplot(data_iris.index, data_iris["sepal_length"], hue = data_iris["species"])
plt.show()

In [ ]:
# Pie Chart
data_iris['species'].value_counts().plot.pie(autopct='%.2f%%',shadow=True,figsize=(10,8))
plt.show()

####Analisa Bivariat

In [ ]:
# Plot Array
from pandas.plotting import scatter_matrix
scatter_matrix(data_iris, figsize = (15,15))
plt.show()

In [ ]:
sns.pairplot(data = data_iris, hue = 'species')

In [ ]:
# Memberikan warna pada masing-masing class
setosa = data_iris[data_iris['species'] == 'Iris-setosa']
versicolor = data_iris[data_iris['species'] == 'Iris-versicolor']
virginica = data_iris[data_iris['species'] == 'Iris-virginica']

plt.scatter(data=setosa, x='sepal_length', y='sepal_width', c='r')
plt.scatter(versicolor['sepal_length'], versicolor['sepal_width'], c = 'g')
plt.scatter(virginica['sepal_length'], virginica['sepal_width'], c = 'b')
plt.show()

In [ ]:
# Heatmap
plt.figure(figsize=(7,4))
sns.heatmap(data_iris.corr(),annot=True)

## **Praproses Data**

In [ ]:
# Membuat data frame
nama = ["Aida", "Beta", "Charlie", "Doni", "Eka", "Firda", "Gina", "Hera", "Indra", "Janet", "Eka"]
nilai = [75, 66, 80, 33, 80, 99, 67, 56, 89, 75, 80]
kelas = [np.nan, np.nan, np.nan, np.nan, 'B', 'A', np.nan, np.nan, 'C', np.nan, 'B']
jurusan = ['IPA', 'IPA', 'IPS', 'IPA', 'IPS', np.nan, 'IPA', 'IPA', 'IPA', 'IPA', 'IPS']
ekonomi = ["Mampu", "Kurang Mampu", "Kurang Mampu", "Kurang Mampu", "Mampu", "Kurang Mampu", "Mampu", "Mampu", "Mampu", "Kurang Mampu", "Mampu"]
beasiswa = ["Tidak", "Ya", "Ya", "Tidak", "Tidak", "Ya", "Tidak", "Ya", "Tidak", "Ya", "Tidak"]

data_kelas = pd.DataFrame(data = {'nama':nama,
                          'nilai':nilai,
                          'kelas':kelas,
                          'jurusan':jurusan,
                          'ekonomi':ekonomi,
                          'beasiswa':beasiswa 
                          })
data_kelas

In [ ]:
# Menampilkan tipe data masing-masing kolom
data_kelas.info()

In [ ]:
# Mencari kategori apa saja pada sebuah kolom
data_kelas['ekonomi'].unique()

### Pemeriksaan Missing Value

In [ ]:
# Cek apakah terdapat baris yang kosong
data_kelas.isnull().sum()

In [ ]:
# Cek apakah terdapat baris yang sama / duplikasi
data_kelas.duplicated().sum()

In [ ]:
# Cek apakah terdapat baris yang sama / duplikasi
data_kelas[data_kelas.isnull().any(axis=1)]

In [ ]:
# menduplikasi data_kelas menjadi variabel baru dengan tujuan tidak "rusak" variabel data_kelas
dt_k = data_kelas.copy()
dt_k

#### Mengatasi Missing Value

In [ ]:
# Untuk mengatasi nilai kosong, ada beberapa solusi

# 1. Hapus kolom yang memiliki banyak nilai kosong
dt_k = dt_k.drop(columns = 'kelas')
dt_k

In [ ]:
# 2. Memberikan nilai pada kolom yang memiliki nilai kosong dengan nilai yang paling sering muncul
jurusan_max = dt_k['jurusan'].value_counts().idxmax()
print("Jurusan Terbanyak: {}\n".format(jurusan_max))
# memberikan nilai pada baris kosong
dt_k['jurusan'] = dt_k['jurusan'].fillna(jurusan_max)
dt_k

In missing-data imputation, the <u>*tradeoff*</u> between **dropping sparse columns** and **filling missing values**:

* *dropping sparse column* (column with lots of missing values): in some cases, it could be that this column may still hold essential information

* *filling missing values* with mode/mean/median: may not really represent the actual data

### Pemeriksaan Data Duplikat

Duplicates **can add the weights of samples and can cause bias**, hence it's recommended to remove duplicated rows.

( https://www.quora.com/Should-I-remove-duplicates-from-a-data-set-in-machine-learning )

In [ ]:
jumlah_baris_duplikat = dt_k.duplicated().sum()
print("Jumlah baris yang memiliki data sama: {} baris\n".format(jumlah_baris_duplikat))

dt_k

In [ ]:
# Untuk mengatasi duplikasi data, bisa dilakukan proses menghapus data
dt_k_noduplicate = dt_k.drop_duplicates()
dt_k_noduplicate

In [ ]:
jumlah_baris_duplikat = dt_k_noduplicate.duplicated().sum()
print("Jumlah baris yang memiliki data sama: {} baris\n".format(jumlah_baris_duplikat))

In [ ]:
dt_k_noduplicate.info()

### Categorical Encoding

Categorical Encoding merupakan proses mengganti suatu nilai kategorikal dengan suatu nilai numerik.

Dalam python, agar data bisa digunakan dalam proses machine learning, data-data yang berupa objek perlu diubah menjadi integer terlebih dahulu.

#### Menggunakan Label Encoding

**Label Encoding** memetakan tiap kategori ke dalam angka numerik, mulai dari 1, 2, 3, dst.

>> Opsi 1 : Mengganti secara manual

In [ ]:
# Replace
dt_k_noduplicate.replace({'jurusan' : {'IPA': 1 , 'IPS': 2}}, inplace=True)
# dt_k_noduplicates = dt_k_noduplicate.replace({'jurusan' : {'IPA': 1 , 'IPS': 2}}) # if you're assigning it to a variable, ignore the "inplace=True" argument
dt_k_noduplicate

In [ ]:
dt_k_noduplicate['jurusan'] = dt_k_noduplicate['jurusan'].astype('category')
dt_k_noduplicate['jurusan'] = dt_k_noduplicate['jurusan'].cat.codes
dt_k_noduplicate

#### Menggunakan One Hot Encoding

One Hot Encoding dapat menggunakan **pandas.get_dummies** yang memetakan setiap kategori ke dalam nilai 0 dan 1 (berarti True/False)

In [ ]:
pd.get_dummies(dt_k_noduplicate['ekonomi'])

In [ ]:
# Menggabungkan kolom "Kurang Mampu" dan "Mampu" ke dataset
dt_k_noduplicate = dt_k_noduplicate.join(pd.get_dummies(dt_k_noduplicate['ekonomi']))
dt_k_noduplicate

In [ ]:
# menghilangkan kolom "ekonomi" karena tidak dipakai
dt_k_noduplicate = dt_k_noduplicate.drop(columns = 'ekonomi')
dt_k_noduplicate

In [ ]:
# menghilangkan kolom "Kurang Mampu" karena sudah terwakilkan oleh "Mampu"
dt_k_noduplicate = dt_k_noduplicate.drop(columns = 'Kurang Mampu')
dt_k_noduplicate

### Outlier

In [ ]:
# Box Plot
dt_k_noduplicate.nilai.plot(kind = "box")
plt.show()

### Menghapus Outlier

It is suggested to remove outlier as these **excessively high/low values may not represent actual data** hence introducing **bias** to the model.

Other reference:
https://medium.com/analytics-vidhya/how-to-remove-outliers-for-machine-learning-24620c4657e8

#### 1. Menggunakan z score

Z-score berfungsi untuk mengetahui apakah suatu nilai lebih rendah dari nilai rataan dalam satu dataset dan mengukur seberapa jauh dari rataan

In [ ]:
dataset_mean = dt_k_noduplicate.nilai.mean()
dataset_stdev = dt_k_noduplicate.nilai.std()
print("Nilai rata-rata: {0}\nNilai Standard Deviasi: {1}".format(dataset_mean, dataset_stdev))

In [ ]:
# define our treshold value for z-score
threshold = 1 # this means: we only want to tolerate values within ** 1 std. ** from the central value (mean)

In [ ]:
outlier = []
for i in dt_k_noduplicate['nilai']:
    z = (i-dataset_mean)/dataset_stdev
    if abs(z) < threshold:
        outlier.append(i)
print('Our outlier value in dataset is', outlier)

In [ ]:
from scipy import stats
dt_k_noduplicate['z_score']= stats.zscore(dt_k_noduplicate['nilai'])
dt_k_noduplicate

In [ ]:
dt_k_noduplicate1 = dt_k_noduplicate.copy()
dt_k_noduplicate1 = dt_k_noduplicate1.loc[dt_k_noduplicate1['z_score'].abs() < threshold]
dt_k_noduplicate1 = dt_k_noduplicate1.reset_index(drop = True)
dt_k_noduplicate1

#### 2. Inter Quartile Range (IQR)

In [ ]:
def outlier_treatment(datacolumn):
  sorted(datacolumn)
  Q1,Q3 = np.percentile(datacolumn , [25,75])
  IQR = Q3 - Q1
  lower_range = Q1 - (1.5 * IQR)
  upper_range = Q3 + (1.5 * IQR)
  return lower_range,upper_range

In [ ]:
lowerbound,upperbound = outlier_treatment(dt_k.nilai)
print("Lowerbound: {0}\nUpperbound: {1}".format(lowerbound, upperbound))

In [ ]:
# Cek data yang menjadi outlier
dt_k[(dt_k.nilai < lowerbound) | (dt_k.nilai > upperbound)]

In [ ]:
# Menghapus outlier
dt_k.drop(dt_k[(dt_k.nilai < lowerbound) | (dt_k.nilai > upperbound)].index , inplace=True)
dt_k

Sumber :
- https://www.kaggle.com/
- https://www.datacamp.com/
- https://www.analyticsvidhya.com/
- https://www.kdnuggets.com/
- https://towardsdatascience.com/
- https://www.kaggle.com/saurabh00007/iriscsv/version/1